<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%coloredLevel %logger{15} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <logger name="play" level="INFO" />
    <logger name="application" level="DEBUG" />

    <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" />
    <!-- https://hibernate.atlassian.net/browse/HV-1323 -->
    <logger name="org.hibernate.validator.messageinterpolation.ParameterMessageInterpolator" level="ERROR" />
    <logger name="slick" level="ERROR" />
    <logger name="java.sql" level="ERROR" />
    <logger name="security" level="ERROR" />
    <logger name="akka" level="INFO" />

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
