navigation {
    border-bottom: var(--default-border);
    z-index: var(--z-navigation);

    #search {
        width: 100%;

        input {
            border-radius: 25px;
        }

        .icon {
            margin-right: 5px;
        }
    }
}

#logo {
    img {
        width: 2rem;
        height: 2rem;
        margin-right: var(--pad);
    }
}
