sidebar {

    .level {
        padding: 5px;

        .level-left {
            .button {
                margin-right: 5px;
            }
        }
        .level-right {
            .button {
                margin-left: 5px;
            }
        }
    }

    aside {
        padding: var(--pad);
    }
}

