@import play.api.Configuration
@(conf: Configuration)
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Quill</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="@routes.Assets.versioned("bulma.css")">
    <link rel="icon" href="@routes.Assets.versioned("favicon.ico")">

    @if(conf.get[String]("mode") == "feather") {
      <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("/dev/feather-components/feather-components.css")">
      <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("dev//out/styles.css")">
    } else {
      <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("feather-components.css")">
      <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("styles.css")">
    }
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
  </head>
  <body class="toast-manager quill-app">
    @if(conf.get[String]("mode") == "feather") {
      <script src="@routes.Assets.versioned("dev/feather/libs.min.js")"></script>
      <script src="@routes.Assets.versioned("dev/feather/feather.js")"></script>
      <script src="@routes.Assets.versioned("dev/feather-components/feather-components.js")"></script>
      <script src="@routes.Assets.versioned("dev/out/quill.js")"></script>
    } else {
      <script src="@routes.Assets.versioned("quill.min.js")"></script>
    }
  </body>
</html>
